<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
</head>
<body>
    <h1>Managers</h1>

    <!-- Button to Add Manager -->
    <form action="/managers/add" method="get">
        <button type="submit">Add Manager</button>
    </form>

    <!-- Managers Table -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <% managers.forEach(function(manager) { %>
              <tr>
                <td><%= manager._id %></td>
                <td><%= manager.name %></td>
                <td>$<%= Number(manager.salary).toFixed(2) %></td>
              </tr>
            <% }) %>
          </tbody>
    </table>

    <a href="/">Home</a>
</body>
</html>
